language: go
go:
- 1.6
- tip
sudo: true
before_install:
- openssl aes-256-cbc -K $encrypted_6b518748df5d_key -iv $encrypted_6b518748df5d_iv
  -in .travis/deploy_key.enc -out .travis/deploy_key -d
- sudo add-apt-repository ppa:masterminds/glide -y && sudo apt-get update
- sudo apt-get install glide -y
install: glide install
script: go test -v
after_success: 
- test $TRAVIS_PULL_REQUEST == "false" && test $TRAVIS_BRANCH == "master" && sh deploy.sh