language: go
go:
- 1.6
sudo: false
cache:
  directories:
  - $HOME/gopath/src/github.com/benjamincaldwell/devctl/vendor
  - /home/travis/gopath/bin
before_install:
- openssl aes-256-cbc -K $encrypted_6b518748df5d_key -iv $encrypted_6b518748df5d_iv
  -in .travis/deploy_key.enc -out .travis/deploy_key -d
- mkdir -p $GOPATH/bin
- curl https://glide.sh/get | sh
install: glide install
script: go test -v $(glide novendor)
after_success: 
- test $TRAVIS_PULL_REQUEST == "false" && test $TRAVIS_BRANCH == "master" && sh deploy.sh
